[submodule "email-agent"]
	path = agents/email-agent
	url = https://github.com/mixaal/email-agent
[submodule "photo-raw-agent"]
	path = agents/photo-raw-agent
	url = https://github.com/mixaal/photo-raw-agent
[submodule "file-agent"]
	path = agents/file-agent
	url = https://github.com/mixaal/file-mcp
[submodule "photo-organizer-agent"]
	path = agents/photo-organizer-agent
	url = https://github.com/mixaal/photo-mcp-server
[submodule "total-recall"]
	path = tools/total-recall
	url = https://github.com/mixaal/total-recall
[submodule "photo-edit-models"]
	path = misc/photo-edit-models
	url = https://github.com/mixaal/photo-edit-models
[submodule "tools/apolitico-console"]
	path = tools/apolitico-console
	url = https://github.com/mixaal/apolitico-console
